@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --woocommerce: #7F54B3;
    --wc-main: #112349;
    --wc-green: #7ad03a;
    --wc-red: #a00;
    --wc-orange: #ffba00;
    --wc-blue: #2ea2cc;
    --wc-dark-blue: #112349;
    --wc-primary: #7F54B3;
    --wc-primary-text: white;
    --wc-secondary: #e9e6ed;
    --wc-secondary-text: #515151;
    --wc-highlight: #b3af54;
    --wc-highligh-text: white;
    --wc-content-bg: #fff;
    --wc-subtext: #767676;
    --wc-section-header-text: #232323;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.section-header h3{
    color: var(--wc-section-header-text);
    font-size: 44px;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
}

.section-header p{
    color: var(--wc-subtext);
    font-size: 14px;
    font-family: Open Sans;
}

.section-header .line{
    width: 54px;
    height: 4px;
    background-color: var(--wc-dark-blue);
}