@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --woocommerce: #7F54B3;
    --main: #112349;
    --green: #7ad03a;
    --light-green: #F2F2F2;
    --red: #a00;
    --orange: #ffba00;
    --blue: #2ea2cc;
    --dark-blue: #112349;
    --primary: #7F54B3;
    --primary-text: white;
    --secondary: #e9e6ed;
    --secondary-text: #515151;
    --highlight: #b3af54;
    --highligh-text: white;
    --content-bg: #fff;
    --subtext: #767676;
    --section-header-text: #232323;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: var(--wc-light-green);
    font-family: Open Sans;
}

.section-header .title{
    color: var(--wc-section-header-text);
    font-size: 44px;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
}

.section-header .subtitle{
    color: var(--wc-subtext);
    font-size: 14px;
    text-transform: uppercase;
}

.section-header .line{
    width: 54px;
    height: 4px;
    background-color: var(--wc-dark-blue);
}

.btn{
    color: var(--wc-main);
    padding: 14px 38px 19px 38px;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 600;
    text-transform: none;
    border-radius: 33px;
    border: 2px solid var(--wc-main);
}
