@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --woocommerce: #7F54B3;
    --green: #7ad03a;
    --light-green: #F2F2F2;
    --red: #a00;
    --orange: #ffba00;
    --blue: #2ea2cc;
    --dark-blue: #112349;
    --primary: #7F54B3;
    --primary-text: white;
    --secondary: #e9e6ed;
    --secondary-text: #515151;
    --highlight: #b3af54;
    --highligh-text: white;
    --content-bg: #fff;
    --subtext: #767676;
    --black: #232323;
    --text-blue: #254098;
    --main-text: #254099;
    --background-text: #A5B3DF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

body {
    background-color: var(--content-bg);
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

.container {
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 10px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .container,.container-fluid {
        max-width: 720px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .container,.container-fluid {
        max-width: 540px;
    }
}

@media (max-width: 576px) {
    .container,.container-fluid {
        max-width: 540px;
    }
}

section {
    padding-top: 90px;
}

.section-header {
    margin-bottom: 70px;
}

.section-header .section-title {
    color: var(--black);
    font-size: 43px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    text-align: center;

}

.section-header .section-subtitle {
    color: var(--subtext);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 5px;
    text-align: center;
}

.section-header .line {
    width: 54px;
    height: 4px;
    background-color: var(--dark-blue);
    margin: 27px auto 0;
}

.btn-box {
    padding: 0 20px 30px;
}

.btn {
    display: inline-block;
    color: var(--main-text);
    padding: 14px 38px 19px 38px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: none;
    border-radius: 33px;
    border: 2px solid var(--main-text);
}

.line-indecators{
    padding-bottom: 100px;
}

.line-indecators .owl-dots{
    width: 100%;
    position: absolute;
    bottom: 35px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.line-indecators .owl-dots button{
    width: 32px;
    height: 8px;
    border: 2px solid var(--content-bg);
}

.line-indecators.dark .owl-dots button{
    width: 32px;
    height: 8px;
    border: 2px solid var(--main-text);
}

.line-indecators .owl-dots .owl-dot span{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: transparent;
    border-radius: 0;
}

.line-indecators .owl-dots .owl-dot:hover span{
    background-color: transparent;
}

.line-indecators .owl-dots .owl-dot.active span{
    background-color: var(--content-bg);
}

.line-indecators.dark .owl-dots .owl-dot.active span{
    background-color: var(--main-text);
}

/********** Header START **********/
header {
    position: relative;
}

.header-slider .item {
    max-width: 100%;
    height: 110vh;
    max-height: 790px;
    padding-top: 82px;
}

.header-slider .owl-carousel .owl-item {
    overflow: hidden;
}

.header-slider .item .item-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: scale 4100ms linear infinite forwards;
}

.header-slider .item1 .item-bg {
    background-image: url(../images/slider1.jpg);
    background-size: 100% 100%;
    background-position: center;
}

.header-slider .item2 .item-bg {
    background-image: url(../images/slider2.jpg);
    background-size: 100% 100%;
    background-position: center;
}

@keyframes scale {
    0% {
        transform: scale(1) translate(-50%, -50%);
    }

    100% {
        transform: scale(1.05) translate(-50%, -50%);
    }
}

/* .header-slider .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(20deg,rgb(7, 32, 85,0.3),rgb(7, 32, 85,0.7));
} */

.header-slider .item .container {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 5;
}

.header-slider .item h2 {
    font-weight: 700;
    font-size: clamp(49px,8.46vw,130px);
    color: var(--content-bg);
    margin-bottom: 25px;
}

.header-slider .item p {
    max-width: 724px;
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 20px;
    color: var(--content-bg);
    margin-bottom: 35px;
}

.header-slider .item a {
    border: none;
    background-color: var(--text-blue);
    color: var(--content-bg);
}

.header-slider .item a:hover {
    background-color: var(--content-bg);
    color: var(--text-blue);
}

.header-slider .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
}

.header-slider .owl-nav button:hover {
    background-color: transparent !important;
}

.header-slider .owl-nav .owl-prev {
    left: 25px;
}

.header-slider .owl-nav .owl-next {
    right: 25px;
}

.header-slider .owl-nav .owl-prev::after,
.header-slider .owl-nav .owl-next::after {
    content: '';
    width: 42px;
    height: 42px;
    display: block;
    opacity: 0;
    transition: all 0.5s linear;
}

.header-slider:hover .owl-nav .owl-prev::after,
.header-slider:hover .owl-nav .owl-next::after {
    opacity: 1;
}

.header-slider .owl-nav .owl-prev::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.header-slider .owl-nav .owl-next::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.header-slider .owl-nav button span {
    display: none;
}

.header-slider .owl-dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-slider .owl-theme .owl-dots .owl-dot {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.header-slider .owl-theme .owl-dots .owl-dot.active {
    box-shadow: 0 0 0 2px var(--content-bg);
}

.header-slider .owl-theme .owl-dots .owl-dot span {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: var(--content-bg);
    margin: 0;
}

.header-slider .owl-dots .owl-dot.active span {
    opacity: 1;
    transform: scale(0.4);
}

.header-slider .owl-theme .owl-nav{
    margin-top: 0;
}

.header-card{
    display: grid;
    grid-template-columns: auto auto auto;
}

.header-card .card{
    display: flex;
    padding: 80px 40px 60px 60px;
    gap: 30px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media screen and (max-width:992px) {
    .header-card{
        grid-template-columns: auto;
        gap: 0;
    }
}

.header-card .card-img{
    width: 45px;
    height: 45px;
    flex-shrink: 0;
}

.header-card .card-img img{
    width: 100%;
    height: 100%;
}

.header-card .card h5{
    font-size: 22px;
    font-weight: 600;
    color: var(--content-bg);
    margin-bottom: 16px;
}

.header-card .card p{
    font-size: 17px;
    line-height: 1.7;
    color: var(--background-text);
}

.header-card .card1{
    background-image: url("../images/hp-2-service-bg-1.jpg");
}
.header-card .card2{
    background-image: url("../images/hp-2-service-bg-2.jpg");
}
.header-card .card3{
    background-image: url("../images/hp-2-service-bg-3.jpg");
}

/********** Header END **********/

/********** nav START **********/
nav {
    width: 100%;
    height: 82px;
    background-color: transparent;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 10;
    transition: 0.2s;
}

nav.scrolled {
    position: fixed;
    top: 0;
    background-color: var(--dark-blue);
}

nav .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    height: 100%;
    display: flex;
}

.nav-slide-bar {
    position: absolute;
    bottom: 0.2px;
    width: 50px;
    height: 3px;
    background-color: #536daf;
}

.nav-menu .nav-link {
    font-size: 16px;
    font-weight: 600;
    line-height: 84px;
    font-family: 'Monserat', sans-serif;
    color: var(--content-bg);
    padding: 0 18px;
}

.nav-menu .nav-link:last-child {
    padding-right: 0;
}

.nav-menu-btn {
    display: none;
    color: var(--content-bg);
    font-size: 20px;
}

@media (max-width: 992px) {
    .nav-menu{
        display: none;
    }
    .nav-menu-btn {
        display: block;
    }
}

/********** Nav END **********/


/******************** service section style start ********************/

.service-section .service-body {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    padding: 20px 30px;
}

.service-body .service-card {
    background-color: var(--content-bg);
    box-shadow: 0 0 74px rgba(10, 10, 10, 0.07);
}

.service-body .service-card img {
    width: 100%;
}

.service-card .service-card-body {
    padding: 40px 35px 30px;
}

.service-card .service-card-body .service-title {
    color: var(--primary);
    font-size: 20px;
    font-weight: 700;
}

.service-card .service-card-body .about-services {
    margin-top: 20px;
    color: var(--subtext);
    line-height: 180%;
}


/******************** service section media ********************/
@media (max-width: 842px) {
    .service-section .service-body {
        grid-template-columns: auto auto;
    }
}

@media (max-width:765px) {
    .service-section .service-body {
        grid-template-columns: auto;
    }
}

/******************** service section style end ********************/


/******************** about-us section style start ********************/
.about-us-section {
    position: relative;
}

.about-us-section .boss-img {
    width: 731px;
    margin: 0 auto;
}

.about-us-section .boss-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.about-us-section .about-us-section-title p {
    color: var(--background-text);
    font-size: 15px;
    margin: 20px 0;
    text-transform: uppercase;
    text-align: center;
}

.about-us-section .about-us-section-title h3 {
    color: var(--primary-text);
    font-size: 44px;
    font-family: Montserrat, sans-serif;
    text-align: center;
}

.about-us-section .about-us-content {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    margin: 30px 15px 80px;
}

.about-us-content .content-text {
    color: var(--background-text);
    font-size: 19px;
    line-height: 30px;
}

.about-us-section .company-info-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
}

.company-info-wrapper iframe {
    width: 100.1%;
    height: 100.1%;
}

.company-info-wrapper .company-info-box {
    background-color: var(--content-bg);
}

.company-info-wrapper .company-info-box .company-info {
    padding: 80px 40px 60px 50px;
}

.company-info .info-texts-box {
    padding: 0 20px 30px;
}

.company-info .company-title {
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--primary);
}

.company-info .company-subtitle {
    font-size: 43px;
    font-weight: 600;
    color: var(--main-text);
    font-family: "Montserrat";
}

.company-info .company-info-text {
    color: var(--subtext);
    font-size: 17px;
    margin: 20px 0;
    line-height: 30px;
}

.company-info-wrapper .works-info-box {
    background-color: var(--black);
}

.works-info-box .works-info {
    padding: 95px 20px 55px 65px;
}

.works-info .works-title {
    color: var(--highligh-text);
    font-size: 42px;
    font-family: Monsterrant, sans-serif;
}

.works-info .works-subtitle {
    color: var(--primary-text);
    font-size: 20px;
    margin-bottom: 20px;
}

.works-info .works-list {
    padding-bottom: 30px;
}

.works-info .works-list .works-list-items {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 17px;
    padding: 10px 0;
}

.works-info .works-list-items i {
    color: var(--primary-text);
}


.works-info .works-list-items .items-text {
    color: var(--secondary);
}

.works-info-box .btn-box {
    padding-left: 0;
}

.works-info-box .btn {
    color: var(--main-text);
    background-color: var(--content-bg);
    border: none;
    font-weight: 700;
}

.company-info-wrapper .works-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-us-section .background-box {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    height: 900px;
    background-image: url('../images/hp2-about-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    z-index: -1;
}

/******************** about-us section media ********************/
@media (max-width: 1150px) {
    .works-info-box .works-info {
        padding-left: 30px;
    }
}

@media (max-width: 842px) {
    .about-us-section .boss-img {
        width: 520px;
    }

    .about-us-section .about-us-section-title h3 {
        font-size: 38px;
    }

    .about-us-section .about-us-content {
        margin-bottom: 40px;
    }

    .about-us-content .content-text {
        font-size: 16px;
    }

    .company-info-wrapper .company-info-box .company-info {
        padding: 50px 20px 10px;
    }

    .company-info .info-texts-box {
        padding: 0 20px 10px;
    }

    .company-info .company-subtitle,
    .works-info .works-title {
        font-size: 32px;
    }

    .company-info .company-info-text {
        font-size: 15px;
        margin: 10px 0;
        line-height: 24px;
    }

    .company-info .youtube-btn {
        padding: 0 20px 15px;
    }

    .works-info-box .works-info {
        padding: 50px 10px 10px 20px;
    }

    .works-info .works-subtitle {
        font-size: 17px;
        margin: 12px 0 8px;
    }

    .works-info .works-list {
        padding-bottom: 15px;
    }

    .works-info .works-list .works-list-items {
        font-size: 14px;
        gap: 10px;
    }
}

@media (max-width: 765px) {
    .about-us-section .boss-img {
        width: 400px;
    }

    .about-us-section .company-info-wrapper {
        grid-template-columns: 100%;
    }

    .about-us-section .about-us-content {
        grid-template-columns: auto;
    }

    .company-info-wrapper iframe {
        min-height: 350px;
    }

    .company-info-wrapper .works-img-box {
        max-height: 400px;
    }

    .works-info-box .works-info {
        padding-left: 38px;
    }
}

@media (max-width: 432px) {
    .about-us-section .boss-img {
        width: 300px;
    }

    .about-us-section .about-us-section-title p {
        margin: 8px 0;
    }

    .about-us-section .about-us-section-title h3 {
        font-size: 28px;
    }

    .about-us-section .about-us-content {
        margin: 15px;
        gap: 15px;
    }

    .company-info-wrapper iframe {
        min-height: 250px;
    }

    .works-info-box .works-info,
    .company-info-wrapper .company-info-box .company-info {
        padding-top: 20px;
    }

    .company-info .company-subtitle,
    .works-info .works-title {
        font-size: 25px;
    }
}


/******************** ourworks section style start ********************/

.ourworks-section .works-background-box {
    background: linear-gradient(rgb(30, 51, 125, .92), rgb(30, 51, 125, .92)), url("../images/shutterstock_174966551.jpg");
    background-position: center bottom -100px;
    background-repeat: no-repeat;
    background-size: 100% 150%;
}

.ourworks-body .ourworks-card img {
    width: 100%;
}

.ourworks-card .ourworks-card-body {
    padding: 40px 35px 0px;
}

.ourworks-card .ourworks-card-body .ourworks-title {
    color: var(--primary-text);
    font-size: 20px;
    font-weight: 700;
}

.ourworks-card .ourworks-card-body .about-ourworks {
    margin-top: 20px;
    color: var(--background-text);
    line-height: 180%;
}


/******************** ourworks section media ********************/
@media (max-width: 1150px) {
    .ourworks-card .ourworks-card-body {
        padding: 25px 20px 0;
    }

    .ourworks-card .ourworks-card-body .ourworks-title {
        font-size: 17px;
    }

    .ourworks-card .ourworks-card-body .about-ourworks {
        margin-top: 10px;
        font-size: 14px;
    }
}


@media (max-width: 842px) {
    .ourworks-card .ourworks-card-body {
        padding: 25px 10px 0;
    }
}

/******************** service section style end ********************/


/********** Success Stories START **********/

.success_stories {
    background: #f9f9f9;
}

.success_stories .section-header {
    padding: 90px 0px 67px 0px;
}


.result-stories .content {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    margin: 0 auto;
    padding: 85px 0px 45px 0px;
    max-width: 1280px;
    background: #fff;
}

.result-stories .box {
    padding: 0 20px 30px;
    display: grid;
    grid-template-columns: auto;
    text-align: center;
}

.result-stories .box .num {
    font-size: 40px;
    font-weight: 600;
    color: var(--text-blue);
    font-family: sans-serif;
}

.result-stories .box .text {
    font-size: 18px;
    font-family: sans-serif;
    color: #8c8c8c;
    font-weight: 600;
    padding-top: 15px;
}

.success_stories .img_slogan {
    display: grid;
    grid-template-columns: auto auto;
}

.success_stories .img_slogan img {
    filter: opacity(80%);
    object-fit: cover;
}

.success_stories .img_slogan .slogan_boss {
    min-height: 20px;
    padding: 90px 11px 80px 115px;
}

.success_stories .img_slogan .slogan_boss i {
    font-size: 200px;
    color: #E1E1E1;
}

.success_stories .img_slogan .slogan_boss h3 {
    font-size: 28px;
    color: #404040;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: left;
}

.success_stories .img_slogan .slogan_boss .director_name {
    color: var(--text-blue);
    font-size: 22px;
    font-weight: 600;
    font-family: sans-serif;
}

.success_stories .img_slogan .slogan_boss .rank {
    color: var(--text-blue);
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
}


/******** Media Query's  START********/

@media (max-width:1200px) {
    .success_stories .img_slogan img {
        width: 700px;

    }

    .success_stories .img_slogan .slogan_boss h3 {
        font-size: 24px;
    }
}


@media (max-width:1180px) {
    .success_stories .img_slogan img {
        width: 600px;

    }

    .success_stories .img_slogan .slogan_boss h3 {
        font-size: 20px;
    }
}

@media (max-width:1055px) {
    .success_stories .img_slogan img {
        width: 550px;
    }

    .success_stories .img_slogan .slogan_boss {
        padding: 90px 11px 80px 100px;
    }

    .success_stories .img_slogan .slogan_boss i {
        font-size: 150px;
    }

    .success_stories .img_slogan .slogan_boss h3 {
        font-size: 20px;
    }
}

@media (max-width:900px) {
    .success_stories .img_slogan img {
        width: 380px;
    }

    .success_stories .img_slogan .slogan_boss h3 {
        font-size: 17px;
    }

}

@media (max-width:764px) {
    .result-stories .content {
        grid-template-columns: auto;
        padding-bottom: 50px;
    }


    .success_stories .img_slogan {
        grid-template-columns: auto;
    }


    .success_stories .img_slogan img {
        width: 100%;
    }


    .success_stories .img_slogan .slogan_boss {
        padding: 50px 10px 10px 20px;

    }

    .success_stories .img_slogan .slogan_boss i {
        font-size: 90px;
    }

    .success_stories .img_slogan .slogan_boss h3 {
        font-size: 25px;
    }


}

/********* Media Query's  END*********/



/********* SPONSOR CAROUSEL  START*********/

.sponsors .icon-wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
}

.sponsors .icon-wrapper .icon-box img {
    width: 130px;
    height: 50px;
    margin: 0 auto;
}

/**********SPONSOR CAROUSEL END**********/

/********** FOOTER START **********/
.footer {
    background: #1f1f1f;
    padding: 72px 0 67px 0;
}

.footer .foot-wrap {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.footer .foot-logo {
    margin-bottom: 10px;
}



.information {
    color: #ababab;
    line-height: 35px;
}

.information i {
    color: #fff;
    margin-right: 10px;
}

.footer .foot-wrap div h3 {
    color: #fff;
    font-size: 19px;
    margin-bottom: 35px;
}

.footer .foot-wrap .news div {
    padding-bottom: 20px;
}

.news div span {
    font-size: 13px;
    color: #a0a0a0;
}

.footer .foot-wrap .news .info-link {
    color: #8699d8;
    font-size: 17px;
}

.user-link div {
    font-size: 16px;
    color: #8699d8;
    margin-left: -18px;
    padding-bottom: 16px;
}

.user-link div span {
    visibility: hidden;
}

.user-link div:hover {
    margin-left: 0px;
    transition: all 0.2s linear;
}

.user-link div:hover span {
    transition: all 1s linear;
    visibility: visible;
}

.contact input {
    width: 100%;
    display: block;
    padding: 12px 18px;
    background: #2C2C2C;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    color: gray;
    outline: none;
    line-height: 1.7;
}

.contact input::placeholder {
    font-size: 15px;
    color: gray;

}

textarea {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    margin-bottom: 20px;
    padding: 12px 18px;
    background: #2C2C2C;
    height: 140px;
    color: #a3a3a3;
}

.foot-button {
    padding: 20px 44px;
    background-color: #254099;
    border: none;
}

.foot-button a {
    font-weight: 700;
    color: #fff;
    font-size: 15px;
}



/*********** FOOTER END ***********/
@media (max-width:1120px) {
    .footer .foot-wrap {
        grid-template-columns: 50% 50%;
        justify-content: center;
    }

}

@media (max-width:510px) {
    .footer .foot-wrap {
        grid-template-columns: auto;
        justify-content: center;
    }

}
.copy_right {
    padding: 30px 0;
    background: #282828;
}

.copy_right .copy-wrap {
    display: grid;
    grid-template-columns: auto auto;
    gap: 700px;
}

.copy {
    font-size: 16px;
    color: #838383;
}

.foot-icon a {
    padding-left: 15px;
    color: #fff;
}

@media (max-width:1320px) {
    .copy_right .copy-wrap {
        gap: 600px;
    }
}

/********* Media Query's  END*********/

/********** Our Workers START **********/
.workers-slider .card{
    box-shadow: rgba(10, 10, 10, 0.07) 0px 0px 30px;
}

.workers-slider .card-img{
    height: 263px;
    overflow: hidden;
    position: relative;
}

.workers-slider .card-img::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.workers-slider .card-img:hover::after{
    opacity: 1;
}

.workers-slider .card-img img{
    width: 100%;
    height: 100%;
}

.workers-slider .card-img:hover img{
    transform: scale(1.1);
}

.workers-slider .card-body{
    padding: 40px 35px 24px;
}

.workers-slider .card-body .subtitle{
    font-size: 12px;
    text-transform: uppercase;
    color: #959595;
    margin-bottom: 7px;
}

.workers-slider .card-body .title{
    font-size: 18px;
    color: #282828;
    margin-bottom: 14px;
}

.workers-slider .card .icons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.workers-slider .card .icons a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    background-color: var(--main-text);
    color: var(--content-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.workers-slider .owl-stage{
    padding: 50px 0;
}

.workers-slider .line-indecators .owl-dots{
    bottom: 85px;
}
/********** Our Workers AND **********/

/********** Testimonial START **********/
.testimonial{
    background-image: url(../images/hp2-testimonial-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 130px;
}

.testimonial h2{
    color: var(--content-bg);
    text-align: center;
    font-size: 48px;
    margin-bottom: 30px;
}

.testimonial .line-indecators .owl-dots{
    bottom: 85px;
}

.testimonial-item{
    max-width: 760px;
    text-align: center;
    margin: 0 auto;
}

.testimonial-item p{
    font-size: 21px;
    color: #c4c9ff;
    margin-bottom: 20px;
}

.testimonial-info h2{
    position: relative;
    top: -10px;
}

.testimonial-info{
    margin: 0 auto;
    display: flex;
    gap: 15px;
    align-items: flex-start;
    justify-content: center;
}

.testimonial-info h5{
    font-size: 16px;
    color: var(--content-bg);
    margin-bottom: 5px;
}

.testimonial-info p{
    font-size: 13px;
    color: #acb2ff;
    text-transform: uppercase;
}

/********** Testimonial AND **********/
@media (max-width:1190px) {
    .copy_right .copy-wrap {
        gap: 400px;
    }
}

@media (max-width:960px) {
    .copy_right .copy-wrap {
        gap: 200px;
    }
}

@media (max-width:780px) {
    .copy_right .copy-wrap {
        grid-template-columns: auto;
        gap: 20px;
        text-align: center;
    }
}
/********* Media Query's  END*********/


/******************** contact section style start ********************/
.contact{
    padding-bottom: 60px;
}

.contact .contact-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0 20px;
}

.contact-wrapper .section-header{
    margin-bottom: 0;
    padding: 0 20px;
}

.contact-wrapper .section-header .section-title{
    text-align: left;
}

.contact-wrapper .section-header .line{
    margin: 20px 0;
}

.contact-wrapper .section-header .section-subtitle{
    text-align: left;
    font-size: 15px;
}

.contact-wrapper .section-header .section-subtitle:last-child{
    padding-bottom: 8px;
}

.contact-wrapper #form{
    width: 50%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.contact-wrapper #form input,textarea{
    width: 100%;
    background-color: #F5F5F5;
    padding: 20px;
    font-size: 15px;
    border: none;
    outline: none;
}

.contact-wrapper #form textarea{
    grid-column: 1/3;
}

.contact-wrapper #form .submit-btn-box{
    grid-column: 1/3;
}

.contact-wrapper #form .btn{
    text-align: center;
    background-color: var(--main-text);
    color: var(--highligh-text);
    cursor: pointer;
}

/******************** contact section media start ********************/
@media (max-width: 1150px) {
    .contact .contact-wrapper{
        gap: 15px;
        padding: 0 10px;
    }
    .contact-wrapper .section-header{
        padding: 0 15px;
    }
    .contact-wrapper .section-header .section-title{
        font-size: 35px;
    }
    .contact-wrapper .section-header .line{
        margin: 10px 0;
    }
    .contact-wrapper .section-header .section-subtitle{
        font-size: 14px;
    }
}

@media (max-width: 954px) {
    .contact .contact-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .contact-wrapper #form{
        width: 100%;
    }
}

@media (max-width: 530px){
    .contact-wrapper .section-header .section-title{
        font-size: 30px;
    }
    .contact-wrapper .section-header .section-subtitle{
        font-size: 12px;
    }
    .contact-wrapper #form{
        grid-template-columns: auto;
    }
    .contact-wrapper #form textarea{
        grid-column: 1/2;
    }
    .contact-wrapper #form .submit-btn-box{
        grid-column: 1/2;
    }
}
